
<section class="content-section mb-5">
    <div class="banner">
        <div class="row gx-0">
            <div class="col-lg-12">
                <div class="banner-item" href="#!">
                    <div class="banner-caption">
                        <div class="banner-caption-content">
                            <h1 class="mb-1">Descubre el arte en su forma más auténtica.</h1>
                            <h3 class="mb-5"><em>¡Ven y maravíllate con nuestras obras hechas a mano!</em></h3>
                            <a class="btn btn-primary btn-xl" href="#about">Saber más</a>
                        </div>
                    </div>
                    <img class="img-fluid" src="assets/images/banner-principal.jpg" alt="..." />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container mb-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="assets/images/banner-color.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Dibujos hechos a mano</h5>
                    <p class="card-text">Te invitamos a conocer nuestros dibujos, donde la creatividad y la pasión se plasman en cada trazo. Adéntrate en un mundo de belleza y expresión única. ¡Ven y maravíllate con nuestras obras hechas a mano!</p>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">Última actualización hace 2 semanas</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="assets/images/banner-pintura.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lienzos hechos a mano</h5>
                    <p class="card-text">Te invitamos a conocer nuestros lienzos, donde la belleza cobra vida en cada pincelada. ¡Ven y descubre el poder de la creatividad en su máxima expresión!
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">Última actualización hace 3 minutos</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="assets/images/banner-porcelana.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Decoraciones de cerámica</h5>
                    <p class="card-text">Te invitamos a conocer nuestras decoraciones de cerámica, donde la artesanía y el arte se unen en piezas únicas. ¡Ven y descubre la magia de nuestras decoraciones de cerámica!</p>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">Última actualización hace 1 semana</small>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Portafolio-->
<section class="container content-section mb-5" id="portfolio">
    <div class="px-4 px-lg-5">
        <div class="content-section-heading text-center">
            <h3 class="text-secondary mb-0">Portafolio</h3>
            <h2 class="mb-5">Proyectos Recientes</h2>
        </div>
        <div class="row gx-0">
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Día de la madre</div>
                            <p class="mb-0">Descubre nuestras cartas hechas a mano con amor y dedicación para esa persona especial.</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="assets/images/portfolio-1.jpg" alt="..." />
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Lienzos, pintura y más</div>
                            <p class="mb-0">Explora nuestros lienzos, dibujos a mano y cerámica decorada, donde cada pieza es una obra única y cautivadora.</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="assets/images/portfolio-2.jpg" alt="..." />
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Desayunos sorpresa</div>
                            <p class="mb-0">Disfruta de nuestros desayunos sorpresa, preparados con amor y cuidado para alegrar tus mañanas.</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="assets/images/portfolio-3.jpg" alt="..." />
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Día del padre</div>
                            <p class="mb-0">Encuentra el detalle perfecto que refleje todo tu cariño y amor hacia ese ser tan importante en tu vida.</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="assets/images/portfolio-4.jpg" alt="..." />
                </a>
            </div>
        </div>
    </div>
</section>

<div class="container">

</div>